[submodule "vim/.vim/plugged/vim-commentary"]
	path = vim/.vim/plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/plugged/vim-sensible"]
	path = vim/.vim/plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/.vim/plugged/vim-surround"]
	path = vim/.vim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround
